[submodule "submission/王宬皓/day-5/hw5_4/opencompass"]
	path = submission/王宬皓/day-5/hw5_4/opencompass
	url = https://bgithub.xyz/open-compass/opencompass.git
[submodule "submission/王宬皓/day-5/hw5_4/LLaMA-Factory"]
	path = submission/王宬皓/day-5/hw5_4/LLaMA-Factory
	url = https://bgithub.xyz/hiyouga/LLaMA-Factory.git
